body{
	
	background-image:url(../images/marauders.jpg) !important;
	background-size: cover;
    text-align:center;
}
li{
	list-style-type: none;
	font-size:28px;
	font-family: "Cinzel", serif;
}

#start, #refresh {
	font-family:"Lumos";
	font-size:24px;
	font-weight:bold;
	color:#5e2825;
	background-color:#e1c498;
	border: 3px solid #5e2825;
}


li:hover{
	background-color:#e1c498;
}


@font-face {
	font-family:"HarryP";
	src:url(HARRP___.ttf) format("truetype");
}

@font-face {
	font-family:"Lumos";
	src:url(LumosLatino.ttf) format("truetype");
}

h1{
	font-family: "HarryP";
	padding-top:20px;
	font-weight: bold;
	font-size:75px;
	color:#5e2825;
}

#timer{
	font-size: 30px;
	font-weight: bold;
	font-family:"Lumos";
}

#content{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:5%;
	background-color: rgba(225,196,152,0.7);
}

img{
	width:80%;
}

h2{
	font-weight: bold;
	font-size: 40px;
	font-family: "Lumos";
	padding-top: 15px;
	padding-bottom:15px;
}

#answerChoices, #answerverdict, #correctanswer {
	font-size:32px;
	font-family: "Cinzel", serif;
}
#answerverdict{
	padding-top:15px;
	padding-bottom:15px;
}